<div class="modal-header">
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="modalRef.hide()"
  >
    <span aria-hidden="true">×</span>
  </button>
  <h4 class="modal-title w-100" id="myModalLabel">Agregar servicio</h4>
</div>
<div class="modal-body">
  <form [formGroup]="serviceForm" class="text-center" style="color: #757575;">
    <div class="md-form">
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="title"
        mdbInput
      />
      <label for="title"><mdb-icon fab icon="amilia"></mdb-icon> Titulo</label>
      <mdb-error *ngIf="title.invalid && (title.dirty || title.touched)">Campo requerido</mdb-error>
      <!-- <mdb-success *ngIf="title.valid && (title.dirty || title.touched)">Input valid</mdb-success> -->
    </div>
    <div class="md-form">
      <textarea
        type="text"
        id="description"
        class="md-textarea form-control"
        formControlName="description"
        mdbInput
      ></textarea>
      <label for="description"><mdb-icon fas icon="align-justify"></mdb-icon> Descripcion</label>
    </div>
    <div class="md-form">
      <input
        type="number"
        id="price"
        class="form-control"
        formControlName="price"
        mdbInput
      />
      <label for="price"><mdb-icon fas icon="dollar-sign"></mdb-icon> Precio</label>
      <mdb-error *ngIf="price.invalid && (price.dirty || price.touched)">Campo requerido</mdb-error>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button
    type="button"
    mdbBtn
    color="danger"
    class="waves-light"
    aria-label="Close"
    (click)="modalRef.hide()"
    mdbWavesEffect
  >
    Cerrar
  </button>
  <button
    type="button"
    mdbBtn
    color="primary"
    class="relative waves-light"
    [disabled]="serviceForm.status === 'INVALID'"
    (click)="onSubmit()"
    mdbWavesEffect
  >
    Guardar
  </button>
</div>
